{% extends "insy/academic_history_base.html" %}

{% block title %}
    Update {{ academic_history }}
{% endblock %}

{% block content %}
<h1><a href={% url "academic_history_list" %}>Academic_History</a></h1>
<h2>Update {{ academic_history }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "academic_history_detail" academic_history.pk %}>Cancel</a>
<form style="display:inline;" action={% url "academic_history_delete" academic_history.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ academic_history }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}