{% extends "insy/academic_history_base.html" %}

{% block title %}
    Academic_Historys
{% endblock %}

{% block content %}
    <h1>Academic_Historys</h1>
    <h2><a href={% url "academic_history_create" %}>Create new Academic_History</a></h2>
    <ul>
    {% for academic_history in academic_history_list %}
        <li><a href={% url "academic_history_detail" academic_history.pk %}>{{ academic_history }}</a> | <a href={% url "academic_history_update" academic_history.pk %}>Update</a> | <form style="display:inline;" action={% url "academic_history_delete" academic_history.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ academic_history }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Academic_Historys yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

