{% extends "insy/faculty_base.html" %}

{% block title %}
    Update {{ faculty }}
{% endblock %}

{% block content %}
<h1><a href={% url "faculty_list" %}>Faculty</a></h1>
<h2>Update {{ faculty }}</h2>

<form action="" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Update" />
</form>
<a href={% url "faculty_detail" faculty.pk %}>Cancel</a>
<form style="display:inline;" action={% url "faculty_delete" faculty.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ faculty }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
</form>
{% endblock %}