{% extends "insy/subject_base.html" %}

{% block title %}
    Subjects
{% endblock %}

{% block content %}
    <h1>Subjects</h1>
    <h2><a href={% url "subject_create" %}>Create new Subject</a></h2>
    <ul>
    {% for subject in subject_list %}
        <li><a href={% url "subject_detail" subject.pk %}>{{ subject }}</a> | <a href={% url "subject_update" subject.pk %}>Update</a> | <form style="display:inline;" action={% url "subject_delete" subject.pk %} method="post" onsubmit="return confirm('Are you sure you want to delete {{ subject }}?')">{% csrf_token %}
    <input type="submit" value="Delete" />
    </form></li>
    {% empty %}
        <li>No Subjects yet.</li>
    {% endfor %}
    </ul>
{% endblock %}

